@import url(style-600.css);
body {
  display: none;
}

#pagina-contato .menu-principal ul {
  font-size: 14px;
}
#pagina-contato .menu-principal ul li {
  font-size: 12px;
}
td {
  display: none;
}

#pagina-contato .menu-principal ul {
  font-size: 14px;
}
#pagina-contato .menu-principal ul li {
  font-size: 12px;
}
td {
  display: none;
}
