.logo {
  width: 204px;
  height: 71px;
}
.home {
  .pagecontent {
    margin-top: 0px;
  }
}

.logohome {
  padding-left: 0px;
  padding-right: 0px;
  width: 940px;
}
.quem-somos {
  .menulateral {
    width: 363px;
    height: 204px;
    border: 1px solid #aaa;
    float: left; 
  } 
  .lateraldireito {
      float: left;
      margin-left: 20px;
      width: 553px;
      height: 100%;
      border: 1px solid #aaa;
      .galeria {
        width: 553px;
        height: 328px; 
      }
      .pagecontent { 
        margin-top: 10px;
        width: 553px;
        height: 230px; 
      }
  }

  
  
} 